div
  style(type="text/css"): include:stylus index.styl
  script(type="@plotdb/block"): include:lsc index.ls
  div(plug="body",ld="base")
    .border: .item(ld-each="item")
      .cell(ld="idx",style="width:3em")
      .mr-4
        div(ld="name")
        div: .text-sm.mf-note(ld-each="note")
      .cell.check(ld="check",data-name="yes",style="width:3em"): i.i-check
      .cell.check(ld="check",data-name="no",style="width:3em"): i.i-close
    .m-edit.mt-2: .text-danger(ld-each="error")
